<configuration>
  <appSettings>
    <add key="serverURL" value="https://epam-botchallenge.com/codenjoy-contest/board/player/vsw86l76vx5va61b7ju4?code=8749211683513820687"/>
    <add key="testServerURL" value="wss://practice.epam-botchallenge.com/codenjoy-contest/ws?user=pcymxwf5bp0cwq7fi5xj&amp;code=6234135977387087370"/>
    <add key="isProd" value="false"/>

  </appSettings>
</configuration>