<configuration>
  <appSettings>
    <!-- Artem -->


    <add key="serverURL" value="https://epam-botchallenge.com/codenjoy-contest/board/player/vsw86l76vx5va61b7ju4?code=8749211683513820687"/>



<!-- Ruslana -->
    <!--


<add key="serverURL" value="https://epam-botchallenge.com/codenjoy-contest/board/player/s7aq92okytrsnnnrb2lx?code=5922020647759530101"/>
    -->


    <add key="testServerURL" value="wss://practice.epam-botchallenge.com/codenjoy-contest/ws?user=pcymxwf5bp0cwq7fi5xj&amp;code=6234135977387087370"/>
    <add key="isProd" value="true"/>
    <add key="isOldMap" value="true"/>

    <add key="predictionDepth" value="19"/>
    <add key="stuckAiPredictionDepth" value="5"/>

    <add key="myShotPredictionDepth" value="19"/>
    <add key="myMovePredictionDepth" value="65"/>

    <add key="enemyTankMovePredictionDepth" value="2"/>
    <add key="enemyTankShotPredictionDepth" value="1"/>
    <add key="enableEnemyTankNotForwardNearestMoves" value="true"/>

    <add key="ignoreEnemyMoveDepthMoreThan" value="1"/>
    <add key="stuckEnemyPredictionDepth" value="50"/>

    <add key="drawBaseBorders" value="false"/>
    <add key="ignorePrizeAiTanks" value="false"/>
    <add key="chooseKillOnlyByCommandsLength" value="true"/>
    <add key="storeMySelectedKillPredictions" value="false"/>

  </appSettings>
</configuration>