<configuration>
  <appSettings>
<!--
        Artem = 1,
        Ruslana = 2
  -->
    <add key="user" value="2"/>
<add key="iceIsDangerousToStep" value="true"/>


<add key="aiShotCellIsDangerousToStep" value="false"/>


<add key="testServerURL" value="wss://practice.epam-botchallenge.com/codenjoy-contest/ws?user=pcymxwf5bp0cwq7fi5xj&amp;code=6234135977387087370"/>
    <add key="isProd" value="false"/>

    <add key="predictionDepth" value="19"/>
    <add key="stuckAiPredictionDepth" value="5"/>

    <add key="myShotPredictionDepth" value="19"/> <!--19-->
    <add key="myMovePredictionDepth" value="65"/> <!--65-->

    <add key="dangerCellPredictionDepth" value="3"/>

    <add key="enemyTankMovePredictionDepth" value="2"/>
    <add key="enemyTankShotPredictionDepth" value="1"/>
    <add key="enableEnemyTankNotForwardNearestMoves" value="true"/>

    <add key="ignoreEnemyMoveDepthMoreThan" value="1"/>
    <add key="stuckEnemyPredictionDepth" value="50"/>

    <add key="drawBaseBorders" value="false"/>
    <add key="ignorePrizeAiTanks" value="false"/>
    
    <add key="chooseKillOnlyByCommandsLength" value="true"/>
    <add key="storeMySelectedKillPredictions" value="false"/>


  </appSettings>
</configuration>